.navbar-brand {
    margin-left: 5%;
}

button {
    margin-left: 1%;
}

// .flex-nav {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

.flex-search {
    margin-left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// .flex-input {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

.is-active{
    color: grey;
}

nav {
    box-shadow: 0 0.01em 1em #adadad;
}

// .mr-auto{
//     margin-left: 50%;
// }

.flex-profile {
    margin-left: 43%;
    font-size: 2em;
}
