.navbar-brand {
    margin-left: 5%;
}

button {
    margin-left: 1%;
}

.flex-search {
    margin-left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.is-active{
    color: #0d6efd;
}

nav {
    box-shadow: 0 0.01em 1em #adadad;
}

.d-inline-block {
    margin-left: 20%;
    font-size: 2em;
}

@media (max-width: 600px) {
    .flex-search {
        margin-top: 2%;
        margin-left: 5%;
    }
    .fd-inline-block {
        margin-left: 85%;
        margin-top: -8%;
    }
}