<div class="navbar navbar-expand-lg sticky-top navbar-light flex-nav">
  <div class="container">
    <div class="col-md-4 title">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo.png" width="200" height="50" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="col-md-4 input">
      <input type="text" class="form-control" [(ngModel)]="fieldSearch" placeholder="Introduzca la busqueda" [ngbTypeahead]="filterTowns">
    </div>
    <div class="col-md-2 button">
      <button class="btn btn-light" (click)="getTown()" type="submit"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-md-2 user">
      <button class="btn btn-outline-primary" routerLinkActive="is-active" (click)="exit()"><i class="bi bi-person"></i> {{ text }} </button>
    </div>
  </div>
</div>
