.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.router-link-active{
    font-weight: bold;
    position: center;
}

nav{
    box-shadow: 0 0.01em 1em #adadad;
}

.mr-auto{
    margin-left: 50%;
}
