<div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Proyecto de Computación</h1>
        <p>
          El análisis del sentimiento se refiere al uso de procesamiento de
          lenguaje natural, análisis de texto y lingüística computacional para
          identificar y extraer información subjetiva de los recursos. Desde el
          punto de vista de la minería de textos, el análisis de sentimientos es
          una tarea de clasificación masiva de documentos de manera automática, en
          función de la connotación positiva o negativa del lenguaje ocupado en el
          documento.
        </p>
      </div>
      <div class="col-md-3">
        <p align="center">
            <a class="btn btn-primary" href="sentiment" role="button"style="margin-top:30%">Ir a analisis de sentimientos</a>
        </p>
    </div>
    </div>
  </div>