<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Proyecto de Computación</h1>
            <p align="center">
                <img src="https://miro.medium.com/max/1024/1*mwXHpdt6CTQHxH78dwc6NA.jpeg">
            </p>
        </div>
        <div class="col-md-3">
            <p align="center">
                <a class="btn btn-primary" href="sentiment" role="button"style="margin-top:30%">Ir a analisis de sentimientos</a>
            </p>
        </div>
    </div>
</div>