<nav class="navbar nav-pills navbar-expand-lg navbar navbar-light">
    <a class="navbar-brand col-md-10 navbarPadding" routerLink="/home"><h1>Proyecto de Computación</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-md-2" id="navbarNavAltMarkup">
      <div class="navbar-nav navbarPadding">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="router-link-active" >Inicio</a>
        <a class="nav-item nav-link" routerLink="/sentiment" routerLinkActive="router-link-active">Análisis del Sentimiento</a>
      </div>
    </div>

</nav>
