<nav class="navbar nav-pills navbar-expand-lg col-xs-12 navbar navbar-light">
    <a class="navbar-brand col-md-10 col-xs-12 navbarPadding" routerLink="/home"><h1 class="titulo">Proyecto de Computación</h1></a>
    <div class="col-md-2 collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbarPadding">
        <a class="nav-item nav-link col-xs-12" routerLink="/home" routerLinkActive="router-link-active" >Inicio</a>
        <a class="nav-item nav-link col-xs-12" routerLink="/sentiment" routerLinkActive="router-link-active">Análisis del Sentimiento</a>
      </div>
    </div>
</nav>
