$border-bottom: 0.080em solid grey;

.router-link-active{
    font-weight: bold;
    position: center;
}

.navbar-brand{
    margin-left: 5%;
}

nav{
    border-bottom: $border-bottom;
}

.mr-auto{
    margin-left: 50%;
}
