.router-link-active{
    font-weight: bold;
    position: center;
}

nav{
    border-bottom: 0.080em solid grey;
}

.navbarPadding{
    margin-top: 1%;
}
.titulo{
    size: 10%;
}
@media (max-width: 768px){

}
