<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p align="center">
                <i class="bi bi-person user"></i>
            </p>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <p align="left"><i class="bi bi-person"></i> {{admin.name}} {{admin.surnames}}</p>
                    <p align="left"><i class="bi bi-inbox"></i> {{admin.email}}</p>
                    <p align="left"><i class="bi bi-telephone"></i> {{admin.phone}}</p>
                </div>
                <div class="col-md-2">
                    <p align="right"><a routerLink="/admin" (click)="editUser()"><i class="bi bi-pencil-square"></i></a></p>
                    <p align="right"><a routerLink="/admin" (click)="editEmail()"><i class="bi bi-pencil-square"></i></a></p>
                    <p align="right"><a routerLink="/admin" (click)="editPhone()"><i class="bi bi-pencil-square"></i></a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="vertical"></div>
        </div>
        <div class="col-md-6 functions">
            <mat-tab-group style="margin-top:5%;">
                <mat-tab label="Lanzar un Webscraper">
                    <section class="example-section">
                        <br>
                        <mat-checkbox class="example-margin">CORNERJOB</mat-checkbox>
                        <br>
                        <mat-checkbox class="example-margin">20 Minutos</mat-checkbox>
                        <br>
                        <mat-checkbox class="example-margin">Busco restaurantes</mat-checkbox>
                        <br>
                        <mat-checkbox class="example-margin">15Mpedia</mat-checkbox>
                        <br><br>
                        <button type="button" class="btn btn-primary" (click)="webScraper()">Lanzar Webscrapers</button>
                    </section>
                    <!-- <div class="row webScraper">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Selecciona un scraper</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="jobToday()">jobtoday.py</button>
                                    <button ngbDropdownItem (click)="veinteMinutos()">20minutos.py</button>
                                    <button ngbDropdownItem (click)="buscoRestaurantes()">buscorestaurantes.py</button>
                                    <button ngbDropdownItem (click)="quinceMpedia()">15mpedia.py</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <br>
                    <div class="progress" style="margin-top:5%;">
                        <div id="trainingProgressBar" class="progress-bar progress-bar-success progress-bar-striped active" 
                            role="progressbar" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            [attr.aria-valuenow]="trainingProgress" 
                            [style.width.%]="trainingProgress">
                            {{trainingProgress}}% Completado
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Gráficas y estadísticas">
                    <div class="graph">
                        <div style="display:block;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" width="200" height="100"></canvas>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="randomize()">Actualizar</button>
                    </div>
                </mat-tab>
                <mat-tab label="Administradores">
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let user of users">
                            <th></th>
                            <td>{{ user }}</td>
                            <td><a routerLink="/admin"><i class="bi bi-pencil-square" (click)="editUser()"></i></a></td>
                            <td><a routerLink="/admin"><i class="bi bi-x-square" (click)="deleteUser()"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" routerLink="/register" style="margin-bottom: 10%;">Añadir administrador</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
