.user {
    font-size: 10em;
}

p {
    font-weight: bold;
}

.example-section {
    margin-left: 5%;
}

.functions {
    margin-left: -5%;
}

.webScraper {
    margin-top: 5%;
}

.graph {
    margin-top: 5%;
}

table {
    counter-reset: rowNumber;
    margin-top: 5%;
  }
  
  table tr {
    counter-increment: rowNumber;
  }
  
  table tr th:first-child::before {
    content: counter(rowNumber);
    // min-width: 1em;
    margin-right: 0.5em;
}

.vertical {
    border-left: 1px solid black;
    margin-top: 20%;
    height: 75vh;
}

h5 {
    margin-top: 10%;
}

@media (max-width: 800px) {
    .vertical {
        display: none;
    }
}
