<div class="container all">
    <div class="row">
        <div class="col-md-3 admin">
            <p align="center">
                <img src="/assets/admin.png" class="user">
                <!-- <i class="bi bi-person user"></i> -->
            </p>
            <hr>
            <div class="row">
                <div *ngIf="!loading">  
                    <p align="left"> {{admin.name}} </p>
                    <p align="left"> {{admin.surnames}} </p>
                    <p align="left"> {{admin.email}} </p>
                </div>
                <div *ngIf="!loading">
                    <button class="btn btn-outline-primary editButton" routerLink="/edit/{{admin.id_user}}"><i class="bi bi-pencil"></i> Editar Usuario</button>
                </div>
                <ngx-skeleton-loader count="3" appearance="" *ngIf="loading"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="col-md-9 functions">
            <mat-tab-group>
                <mat-tab label="Búsquedas">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Búsquedas de los últimos 7 días</h5>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr *ngFor="let topWeekTown of topWeekTowns">
                                            <th></th>
                                            <td> {{ topWeekTown.name }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ngx-skeleton-loader count="5" appearance="" *ngIf="loading"></ngx-skeleton-loader>
                            </div>
                            <div class="col-md-6">
                                <h5>10 búsquedas más realizadas</h5>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr *ngFor="let topTown of topTowns">
                                            <th></th>
                                            <td> {{ topTown.name }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ngx-skeleton-loader count="5" appearance="" *ngIf="loading"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="row">
                            <div [innerHTML]="htmlstring"></div>
                            <!-- <div class="graphContainer">
                                <div class="area" [chart]="areaChart"></div>
                            </div> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Usuarios">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Usuarios</h5>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <th></th>
                                            <td> {{ user.name }} {{ user.surnames }} </td>
                                            <td><a routerLink="/edit/{{user.id_user}}"><i class="bi bi-pencil"></i></a></td>
                                            <td><a routerLink="/admin"><i class="bi bi-trash" (click)="deleteUser(user.id_user)"></i></a></td>
                                            <td><a routerLink="/admin"><i class="bi bi-person-badge" (click)="setAdmin(user.id_user)"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ngx-skeleton-loader count="5" appearance="" *ngIf="loading"></ngx-skeleton-loader>
                            </div>
                            <div class="col-md-6">
                                <h5>Administradores</h5>
                                <table class="table table-striped col-6">
                                    <tbody>
                                        <tr *ngFor="let admin of admins">
                                            <th></th>
                                            <td> {{ admin.name }} {{ admin.surnames }} </td>
                                            <td><a routerLink="/edit/{{admin.id_user}}"><i class="bi bi-pencil"></i></a></td>
                                            <td><a routerLink="/admin"><i class="bi bi-trash" (click)="deleteUser(admin.id_user)"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ngx-skeleton-loader count="5" appearance="" *ngIf="loading"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>