.container {
    margin: 0;
}

.user {
    // font-size: 10em;
    margin-top: 5%;
    width: 75%;

}

.admin {
    background-color: #d7d7d7;
}

p {
    font-weight: bold;
}

.webScraper {
    margin-top: 5%;
}

.graph {
    margin-top: 5%;
}

table {
    counter-reset: rowNumber;
    margin-top: 5%;
  }
  
  table tr {
    counter-increment: rowNumber;
  }
  
  table tr th:first-child::before {
    content: counter(rowNumber);
    // min-width: 1em;
    margin-right: 0.5em;
}

.vertical {
    border-left: 1px solid black;
    margin-top: 20%;
    height: 125vh;
}

h5 {
    margin-top: 10%;
}

@media (max-width: 800px) {}
