$font-size: 1.5em;
$margin-footer: 8%;
$font-size-media: 0.6em;

.navbar {
    margin-top: 50%;
    background-color: #FBFAFA;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#left {
    margin-left: $margin-footer;
    font-size: $font-size;
}

#right {
    margin-right: $margin-footer;
    font-size: $font-size;
}

@media (max-width: 800px) {
    // a {
    //     font-size: $font-size-media;
    // }
    // .btn-outline-dark {
    //     font-size: $font-size-media;
    // }
    // .bi-github {
    //     font-size: $font-size-media;
    // }
    // .bi-linkedin {
    //     font-size: $font-size-media;
    // }
  }
