$font-size: 1.5em;
$margin-footer: 8%;

.navbar {
    margin-top: 20%;
    background-color: #FBFAFA;
    position: relative;
    bottom: 0;
    width: 100%;
}

#left {
    margin-left: $margin-footer;
    font-size: $font-size;
}

#right {
    margin-right: $margin-footer;
    font-size: $font-size;
}

// @media (max-width: 600px) {
//     #left {
//         font-size: 18px;
//       }
//     .navbar-brand {
//         font-size: 16px;
//     }
//     #right {
//         font-size: 18px;
//     }
//   }