<footer>
  <div class="links bg-dark d-flex justify-content-center">
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Frontend" target="_blank"><i class="bi bi-github"></i></a>
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Backend" target="_blank"><i class="bi bi-github"></i></a>
    <a href="https://www.linkedin.com/in/david-merle-sanromán-58b5a5150" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/alfonso-vega-garcía" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/juanlasso98" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/julián-de-pablo-torremocha" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="info" style="background-color: #000000;">
    <div class="container">
      <div class="row">
        <div class="logo col-md-4">
          <img src="/assets/logo-footer.png" alt="logo">
        </div>
        <div class="col-md-4">
          <h1>Tecnologías</h1>
          <p>Node</p>
          <p>Maridb</p>
          <p>Angular</p>
          <p>Bootstrap</p>
        </div>
        <div class="col-md-4">
          <h1>Contacto</h1>
          <p>merle6665@gmail.com</p>
          <p>jlasso98@gmail.com</p>
          <p>alfonsovega1005@gmail.com</p>
          <p>juliandpt98@gmail.com</p>
        </div>
      </div>
      <div class="row">
        <p >© 2021 Infopueblo. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
