<footer>
  <div class="links bg-dark d-flex justify-content-center">
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Frontend" target="_blank"><i class="bi bi-github"></i></a>
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Backend" target="_blank"><i class="bi bi-github"></i></a>
    <a href="https://www.linkedin.com/in/david-merle-sanromán-58b5a5150" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/alfonso-vega-garcía" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/juanlasso98" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/julián-de-pablo-torremocha" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="info" style="background-color: #000000;">
    <div class="container">
      <div class="row">
        <div class="logo col-md-4 d-flex justify-content-center">
          <img src="/assets/3.png">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h1 style="color: white; font-weight: bold;">Tecnologias</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h1 style="color: white; font-weight: bold;">Contacto</h1>
        </div>
      </div>
    </div>
  </div>
</footer>
