<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Frontend" target="_blank" id="left">
      <i class="bi bi-github" title="Proyecto de Computacion - Frontend"></i>
    </a>
    <a class="navbar-brand"> ~ Proyecto de Computación © Copyright © 2021 ~ </a>
    <a href="https://github.com/julidpt/ProyectoDeComputacion-Backend" target="_blank" id="right">
      <i class="bi bi-github" title="Proyecto de Computacion - Backend"></i>
    </a>
  </div>
</nav>
