.textarea{
    resize: none;
}

.btn-primary{
    margin-top: 2%
}

.cajaSentimiento{
    margin-top: 4.85%;
    text-align: center;

}

.tituloSentimiento{
    font-weight: bold;
}

.imagenSentimiento{
    width: 10%;
    padding-top: 1%;
}
