<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#" style="margin-top:1%;margin-left:5%"><h1>Proyecto de Computación</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-top:1%;margin-left:22%">
          <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Análisis del Sentimiento</a>
        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p align="center">
            <img src="assets/img/126474.png" />
            <input type="text" placeholder=" Buscar un pueblo..." />
            <button>Buscar</button>
          </p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" align="center">
          <div class="cuadrado">
            <p align="left">Pueblo 1</p>
          </div>
        </div>
        <div class="col-md-4" align="center">
          <div class="cuadrado">
            <p align="left">Pueblo 2</p>
          </div>
        </div>
        <div class="col-md-4" align="center">
          <div class="cuadrado">
            <p align="left">Pueblo 3</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" align="center">
          <div class="cuadrado">
            <p align="left">Pueblo 4</p>
          </div>
        </div>
        <div class="col-md-4" align="center">
          <div class="cuadrado">
            <p align="left">Pueblo 5</p>
          </div>
        </div>
        <div class="col-md-4" align="center" style="margin-bottom: 5%;">
          <div class="cuadrado">
            <p align="left">Pueblo 6</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  