<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="justify-content-center align-items-center col-md-3" style="width: auto;">
        <a class="navbar-brand" href="#">Proyecto de computacion</a>
    </div>

    <div class="justify-content-center align-items-center col-md-6 col-xs-12" style="width: 100%;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <input class="form-control mr-sm-12" type="search" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success ml-sm-2 mr-sm-2" type="submit">Search</button>
            </li>
        </ul>
    </div>

    <div class="justify-content-right align-items-right col-md-3" style=" padding-right: 0px !important;">
        <button class="btn btn-outline-success" style="float: right;">Iniciar Sesion</button>
    </div>
</nav>