<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Descripción del lugar con id {{town}}</h1>
        </div>
    </div>
</div>
      <div class="col-md-12">
        <h1>Resultados obtenidos para {{townData.name}}</h1>
      </div>
      <div class="tarjeta">
        <div class="col-md-12">
          <h2>Restaurantes</h2>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card" *ngFor="let restaurantData of townData.restaurants">
                <div class="card-body">
                  <h5 class="card-title">{{restaurantData.name}}</h5>
                  <p class="card-text">
                      <i class="bi bi-geo-alt"></i>
                      {{restaurantData.location}}
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
