<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p align="center">
                <i class="bi bi-person user"></i>
            </p>
            <hr>
            <div class="row">
                    <div class="col-md-6">
                        <p align="left"><i class="bi bi-person"></i> Nombre: </p>
                        <p align="left"> <i class="bi bi-person"></i> Apellidos: </p>
                        <p align="left"><i class="bi bi-inbox"></i> Email: </p>
                        <p align="left"><i class="bi bi-telephone"></i> Teléfono: </p>
                    </div>
                    <div class="col-md-6">
                        <p align="right"><i class="bi bi-pencil-square"></i></p>
                        <p align="right"><i class="bi bi-pencil-square"></i></p>
                        <p align="right"><i class="bi bi-pencil-square"></i></p>
                        <p align="right"><i class="bi bi-pencil-square"></i></p>
                    </div>
                </div>
            </div>
        <div class="col-md-2">
            <div class="vertical"></div>
        </div>
        <div class="col-md-2">
            <div class="pueblo"></div>
            <div class="pueblo"></div>
        </div>
        <div class="col-md-2">
            <div class="pueblo"></div>
            <div class="pueblo"></div>
        </div>
        <div class="col-md-2">
            <div class="pueblo"></div>
            <div class="pueblo"></div>
        </div>
    </div>
</div>