<div class="container all">
    <div class="row">
        <div class="col-md-3 admin">
            <p align="center">
                <img src="/assets/admin.png" class="user">
                <!-- <i class="bi bi-person user"></i> -->
            </p>
            <hr>
            <div class="row">
                <div>
                    <p align="left"> {{user.name}} </p>
                    <p align="left"> {{user.surnames}} </p>
                    <p align="left"> {{user.email}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 functions">
            <div *ngIf="!loading" class="row row-cols-1 row-col-sm-2 row-cols-md-3 g-4">
                <div class="col" *ngFor="let town of likedTowns">
                    <div class="card card-horizontal">
                        <img class="card-img-top" src="{{town.image_url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{town.name}}</h5>
                          <a routerLink="/town/{{town.id_town}}" class="btn btn-outline-primary btn-block">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>