<section id="register">
  <div class="container col-6">
    <div class="row content">
      <div class="col-md-12 block">
        <h3 class="signin-text mb-3">Registro</h3>
        <br>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="phone">Nombre</label>
            <input type="text" formControlName="name" id="name" name="name" class="form-control" required>
            <span class="error" *ngIf="name?.invalid && name?.touched">Introduzca el nombre</span>
          </div>
          <br>
          <div class="form-group">
            <label for="phone">Apellidos</label>
            <input type="text" formControlName="surnames" id="surnames" name="surnames" class="form-control" required>
            <span class="error" *ngIf="surnames?.invalid && surnames?.touched">Introduzca el/los apellido/s</span>
          </div>
          <br>
          <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="text" formControlName="phone" id="phone" name="phone" class="form-control" placeholder="+34 645 68 74 35" required>
            <span class="error" *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">Introduzca un numero de telefono</span>
          </div>
          <br>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" name="email" class="form-control" placeholder="email@example.com" required>
            <span class="error" *ngIf="email?.invalid && (email?.touched || email?.dirty)">Introduzca un email valido</span>
          </div>
          <br>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" id="password" name="password" class="form-control" required>
            <span class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">Minimo 6 caracteres</span>
          </div>
          <br>
          <div class="form-group">
            <label for="password">Repetir Contraseña</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" name="password" class="form-control" required>
            <span class="error" *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)">Las contraseñas deben coincidir</span>
          </div>
          <br>
          <div class="submitButton">
            <button type="submit" [disabled]="form.invalid"  class="btn btn-lg btn-primary btn-block"> Registrarse </button>
          </div>
          <div class="form-group link">
            <p align="center">
              <a routerLink="/login" class="form-control">¿Ya tienes cuenta?</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
