.container {
    width: 50%;
}

i {
    margin-left: 43%;
    font-size: 6em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

a {
    margin-left: 30%;
}

@media (max-width: 600px) {
    a {
        font-size: 13px;
        margin-left: 5%;
      }
  }
