<div class="container">
  <div class="col-md-12">
    <p align="center">
      <i class="bi bi-person"></i>
    </p>
    <label><b>Usuario</b></label>
    <input type="text" placeholder="Introduce usuario" required>
    <label><b>Contraseña</b></label>
    <input type="password" placeholder="Introduce contraseña" required>
    <label><b>Nombre</b></label>
    <input type="text" placeholder="Introduce nombre" required>
    <label><b>Apellidos</b></label>
    <input type="text" placeholder="Introduce apellidos" required>
    <button class="btn btn-primary" type="submit">Registro</button>
    <p align="center">
      <br>
      <a routerLink="/login"> ¿Ya tienes una cuenta? Inicia Sesión </a>
    </p>
  </div>
</div>
