<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form>
                <h1 class="h3 mb-3 font-weight-normal"><i class="bi bi-person"></i></h1>
                <div class="form-group">
                  <input type="email" id="email" name="email" [(ngModel)]="Email" class="form-control" placeholder="Email" required>
                </div>
                <br>
                <div class="form-group">
                  <input type="password" id="password" [(ngModel)]="Password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="submit()"> Login </button>
                <div class="form-group">
                  <a routerLink="/register" class="form-control login-user"> ¿No tienes cuenta? </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
