.container {
  width: 50%;
}

i {
  font-size: 6em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 600px) {
  a {
    font-size: 13px;
    }
}