
<form method="post">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->
  
    <div class="container">
    <div class = "row">
      <div class = "col-md-6">
      <h1>Registro</h1>  
      <label for="uname"><b>Usuario</b></label>
      <input type="text" placeholder="Introduce usuario" name="uname" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Introduce contraseña" name="psw" required>
    <label for="uname"><b>Nombre</b></label>
    <input type="text" placeholder="Introduce nombre" name="uname" required>
    <label for="apellidos"><b>Apellidos</b></label>
    <input type="text" placeholder="Introduce apellidos" name="apellidos" required>
      <button type="submit">Registro</button>
    </div>
  
    <div class = "col-md-6">
      <h1>Login</h1>  
      <label for="uname"><b>Usuario</b></label>
      <input type="text" placeholder="Introduce usuario" name="uname" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Introduce contraseña" name="psw" required>
      <button type="submit">Login</button>
    
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </div>
    </div>
  
    <!-- <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </form>
  