<div class="page-wrap">
  <div class="container">
    <div class="row logo">
      <h1 class="d-flex justify-content-center">
        <a routerLink="/">
          <img src="/assets/logo.png" alt="logo">
        </a>
      </h1>    
    </div>
    <div class="row content">
      <div>
        <h3 class="signin-text">Iniciar Sesión</h3>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div *ngIf="this.badreq == true" class="alert alert-danger" role="alert">
            email o contraseña incorrectos
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" required>
            <span class="error" *ngIf="email?.invalid && (email?.touched || email?.dirty)">Introduzca un email valido</span>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" id="password" name="password" class="form-control" required>
            <span class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">Introduzca la contraseña</span>
          </div>
          <div class="submitButton">
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block mx-auto"> Login </button>
          </div>
        </form>
        <div class="alert alert-warning" role="alert">
          <i class="bi bi-exclamation-circle"></i>Exclusivo para administradores
        </div>
      </div>
    </div>
  </div>
</div>
