$text-align: center;

h1 {
  font-size: 200%;
  margin-top: 5%;
  text-align: $text-align;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  text-align: left;
  font-weight: bold;
}

.btn-primary {
  margin-top: 2%;
}

.carousel-inner{
  align-content: center;
}
.parrafoHome {
  text-align: justify;
}

.botonHome {
  text-align: $text-align;
  margin-top: 2%;
}
