<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Página de inicio</h1>
    </div>
    <div class="tarjeta">
      <div class="col-md-12">
        <h2>Búsquedas populares</h2>
        <carousel [height]="500" [cellWidth]="300" [autoplay]="true" [autoplayInterval]="2000">
          <div class="carousel-cell" *ngFor="let town of topTowns">
            <div class="card">
              <img class="card-img-top" src="{{town.image_url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{town.name}}</h5>
                <a routerLink="/town" class="btn btn-primary">Ver más<i class="bi bi-arrow-right-short"></i></a>
              </div>
            </div>
          </div>
        </carousel>
      </div>
    </div>
    <div class="col-md-12">
      <h2>Búsquedas populares</h2>
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let town of topTowns">
          <div class="card">
            <img class="card-img-top" src="{{town.image_url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{town.name}}</h5>
              <a routerLink="/town" class="btn btn-primary">Ver más<i class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="tarjeta">
      <div class="col-md-12">
        <h2>Mejor valorados</h2>
      </div>
      <carousel [height]="500" [cellWidth]="300" [autoplay]="true" [autoplayInterval]="3000">
        <div class="carousel-cell" *ngFor="let town of likedTowns">
          <div class="card">
            <img class="card-img-top" src="{{town.image_url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{town.name}}</h5>
              <a routerLink="/town/{{town.id_town}}" class="btn btn-primary">Ver más<i class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
      </carousel>
    </div>
  </div>
</div>
